<footer class="footer-area bg-gray pb-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="contact-info-wrap">
                    <div class="footer-logo">
                        <!-- <a href="#"><img src="/assets/images/logo/logo.png" alt="logo"></a> -->
                    </div>
                    <div class="single-contact-info">
                        <span>Our Location</span>
                        <p>Kinfra kakkanchery,Malappuram,kerala,India</p>
                    </div>
                    <div class="single-contact-info">
                        <span>24/7 hotline:</span>
                        <p>8089345313</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>