<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>SpotOn</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png">

    <!-- All CSS is here
	============================================ -->

    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/vendor/signericafat.css">
    <link rel="stylesheet" href="assets/css/vendor/cerebrisans.css">
    <link rel="stylesheet" href="assets/css/vendor/simple-line-icons.css">
    <link rel="stylesheet" href="assets/css/vendor/elegant.css">
    <link rel="stylesheet" href="assets/css/vendor/linear-icon.css">
    <link rel="stylesheet" href="assets/css/plugins/nice-select.css">
    <link rel="stylesheet" href="assets/css/plugins/easyzoom.css">
    <link rel="stylesheet" href="assets/css/plugins/slick.css">
    <link rel="stylesheet" href="assets/css/plugins/animate.css">
    <link rel="stylesheet" href="assets/css/plugins/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/plugins/jquery-ui.css">
    <link rel="stylesheet" href="assets/css/style.css">



</head>

<body>

   
        <div class="login-register-area pt-115 pb-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                        <div class="login-register-wrapper">
                            <div class="login-register-tab-list nav">
                                <a class="active" data-toggle="tab" href="#login">
                                    <h4> login </h4>
                                </a>
                                
                            </div>
                            <div class="tab-content">
                                <div id="login" class="tab-pane active">
                                    <div class="login-form-container">
                                        <div class="text-center text-danger">
                                               <% if(typeof message !=="undefined"){%>
                                    <p class="" style="color:red">
                                        <%= message %>
                                    </p>
                                <%}%>
                                        </div>
                                        <div class="login-register-form">
                                            <form action="/login" method="post" id="submit-form">
                                                <input type="email" name="email" placeholder="Enter email" id="email-input">
                                                <input type="password" name="password" placeholder="Password" id="password-input">
                                                <div class="text-danger text-center" id="message-error"></div>
                                                <div class="button-box">
                                                    <button type="submit">Login</button>
                                                </div>
                                                <div class="login-toggle-btn">
                                                    Not a member ?   <a href="/signup">Register</a>
                                                  
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                              
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
       
    

    <!-- All JS is here
============================================ -->
<!-- 
    <script src="assets/js/vendor/modernizr-3.11.7.min.js"></script>
    <script src="assets/js/vendor/jquery-v3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-v3.3.2.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins/slick.js"></script>
    <script src="assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="assets/js/plugins/jquery.instagramfeed.min.js"></script>
    <script src="assets/js/plugins/jquery.nice-select.min.js"></script>
    <script src="assets/js/plugins/wow.js"></script>
    <script src="assets/js/plugins/jquery-ui-touch-punch.js"></script>
    <script src="assets/js/plugins/jquery-ui.js"></script>
    <script src="assets/js/plugins/magnific-popup.js"></script>
    <script src="assets/js/plugins/sticky-sidebar.js"></script>
    <script src="assets/js/plugins/easyzoom.js"></script>
    <script src="assets/js/plugins/scrollup.js"></script>
    <script src="assets/js/plugins/ajax-mail.js"></script>


    <script src="assets/js/main.js"></script>
 -->

 <script>
    /** Form Validation Start */
    const form = document.getElementById('submit-form');
    const emailId = document.getElementById('email-input');
    const password = document.getElementById('password-input');



    form.addEventListener('submit', e => {

        e.preventDefault();
        console.log("prevented")
        validateInput();
    });

    const setError = (element, message) => {

        const inputControl = element.parentElement;

        element.placeholder = message;
        emailId.style.border = '1.5px solid red';
        password.style.border = '1.5px solid red';

        inputControl.classList.add('error');
        inputControl.classList.remove('success');
    };

    const setSuccess = element => {

        const inputControl = element.parentElement;
        element.placeholder = '';

        inputControl.classList.add('success');
        inputControl.classList.remove('error');
    };

    const isValidEmail = emailId => {

        const re = /^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$/;
        return re.test(String(emailId).toLowerCase());
    };

    const isValidPassword = password => {

        const re = /^[a-zA-Z\d]{8,}$/;
        return re.test(password);
    }

    const validateInput = () => {

        console.log("Entered Validate input");

        const emailIdValue = emailId.value.trim();
        const passwordValue = password.value.trim();

        if (emailIdValue === '') {

            setError(emailId, 'Email is required');

        } else if (!isValidEmail(emailIdValue)) {

            //alert('Provide a valid Email address')
            document.getElementById('message-error').innerHTML = 'Provide a valid email address';

        } else {
            console.log("email Ok");
            setSuccess(emailId);
        }

        if (passwordValue === '') {

            setError(password, 'Password is required');

        } else if (!isValidPassword(passwordValue)) {
            console.log("Passworddd")

            //alert('Provide a valid Email address')
            document.getElementById('message-error').innerHTML = 'Provide a valid password';
            //setError(password,'Provide a strong password');

        } else {
            console.log("Password Ok")
            setSuccess(password);
        }

        const inputs = [emailId, password];

        if (inputs.every(input => input.parentElement.classList.contains('success'))) {
            form.submit();
            console.log("Form submission successful")
        }


    };

    /** Form Validation End */

    /** Password Seeker Start **/
    const togglePassword = document.querySelector('#password-toggle');
    const passwordInput = document.querySelector('#password-input');

    togglePassword.addEventListener('click', function () {
        const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordInput.setAttribute('type', type);

        this.classList.toggle('bi-eye-fill');
        this.classList.toggle('bi-eye-slash-fill');

    });

    /** Password Seeker End **/
</script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
    integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
    crossorigin="anonymous"></script>
</body>

</html>